body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    color: rgb(228, 228, 228);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.title {
    margin-top: 1em;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
}

.download img {
    height: 5em;
    width: auto;
    padding: 0 1em;
}

.about {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.about div {
    text-align: left;
}

.about a {
    color: rgb(255, 255, 255);
}

.about a:hover {
    color: rgb(138, 138, 138);
}

.question {
    margin-top: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.images-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 0 0.5em;
}

.one-image {
    display: flex;
    align-items: center;
    gap: 1em;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: left;
    margin-top: 2.5em;
}

img {
    height: 20em;
    border-radius: 1em;
}